.properties-container{
  gap: 2rem;
}
.properties-container .search-bar{
  width: clamp(12rem, 100%, 28rem);
  border-radius: 30px;
  border: 1px solid rgba(120,120,120,0.374);
  flex-wrap: nowrap;
  padding-top: 6px;
  padding-bottom: 6px;
}

 .search-bar .button{
  border-radius: 30px;
  font-size: 13px;
  padding: 10px 20px;
}
 .search-bar input{
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
}
.search-bar input::placeholder{
  font-size: 16px;
}

